<h1>News App</h1>

<p>Get the latest and greatest from NHL</p>

<!-- Pass in data from server.js -->

<button type="button" id ="scrape">Click To Scrape</button>

    <table id="results">
      <thead>
        <tr>
          <th id="Title">Title</th>
          <th id="Link">Link</th>
          <th id="Comment">Comment</th>
        </tr>
      </thead>
      <tbody>
        <!-- Results from DB here -->
      </tbody>
    </table>
</form>